AddDefaultCharset UTF-8
AddType 'text/plain; charset=UTF-8' txt
AddType 'application/xml; charset=UTF-8' xml
AddType 'application/manifest+json; charset=UTF-8' webmanifest

ErrorDocument 404 /404.html
